.Feed__List {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    padding-top: 30px;
}

.Feed__Card__Avatar {
    margin: 20px;
    width: 110px;
    height: 110px;
}

.Card__Image {
    border-radius: 50%;
    background: url("../images/teacher-third.png") no-repeat center / 100%;
}

.Feed__Card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 150px;
    margin: auto;
    width: 75%;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
}

.Feed__Card__Top__Info {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.Feed__Card__Top_Description_Text {
    font-size: 24px;
    font-family: 'Tahoma', sans-serif;
    font-weight: 400;
}

.Feed__Card__PostedBy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 30px;
}

.Feed__Card__PostedBy__Text {
    color: rgba(0, 0, 0, 0.5);
}

.Upvotes__List {
    display: flex;
    flex-direction: row;
}

.Upvotes__Avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: darkred;
    width: 30px;
    height: 30px;
}

.Upvotes__Item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.Upvotes__NoVote {
    margin-top: 20px;
}

.Upvotes__Pagination {
    cursor: pointer;
    margin-left: 5px;
}

.Upvote__Modal__Bg, .Post__Modal__Bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.Modal__Opened {
    background-color: rgba(0, 0, 0, 0.4);
    transition: background-color linear .5s;
}

.Modal__Upvotes, .Post__Modal {
    border-radius: 15px;
    background-color: #fff;
    width: 500px;
    height: 400px;
    overflow: scroll;
    margin: auto;
    position: relative;
    top: 100px;
    padding: 25px 20px 0 20px;
}

.Modal__Upvotes__Title {
    font-size: 26px;
    text-align: center;
}

.Modal__Upvotes__Item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    margin: 15px 0;
}

.Modal__Upvote__Like {
    border-radius: 50%;
    background: url("../images/like-active.svg") no-repeat center / 25px;
}

.Modal__Close {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Modal__Close__Icon {
    cursor: pointer;
    background: url("../images/ic-close-blue.svg") no-repeat center / 15px;
}

.Feed__SignOut {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 50px;
}

.Feed__SignOut__Btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 0 10px cadetblue;
}

.Post__Modal__Title__Text {
    text-align: center;
}

.Post__Modal__Input {
    width: 100%;
    border-radius: 10px;
    padding: 0 0 0 20px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    border: none;
    font-family: Verdana;
}

.Post__Modal__Input::placeholder {
    font-family: Verdana;
}

.Textarea__Input {
    resize: none;
    padding-top: 20px;
    height: 70px;
}

.Post__Modal__Input:focus {
    outline: none;
}

.Post__Modal__Btn__Block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.Post__Modal__Btn__Submit {
    cursor: pointer;
    width: 50%;
    height: 35px;
    border-radius: 10px;
    color: white;
    border: none;
    background-color: seagreen;
}